<div>
  <h1 class="text-5xl">Henrry Cordovillo</h1>

  <h2 class="text-4xl">Front end Developer</h2>

  <p>
    Passionate programmer with a degree in Computer Science Engineering. My
    focus is to create <span class="text-[#5257FF]">web applications</span> with
    <span class="text-[#5257FF]">exceptional user experience</span> and
    <span class="text-[#5257FF]">responsive design</span>. My goal is to become
    a full stack developer. I am always open to new opportunities and
    collaborations; I look forward to connecting with you soon!
  </p>
</div>
