<p class="text-lg md:text-xl">
  I'm Henrry, a passionate frontend programmer with an undergraduate degree in
  Computer Science Engineering. My main focus is web application development
  using the Angular framework.
</p>
<p class="text-lg md:text-xl">
  Currently, I am working on an exciting ERP type project, where I have been
  able to apply my Angular skills to create a smooth and efficient user
  experience. Throughout my career, I have developed a solid background in
  modern web application development, with an emphasis on usability, responsive
  design and implementing innovative technology solutions.
</p>

<p class="text-lg md:text-xl">
  I love facing challenges and am excited to become a full stack developer with
  Angular and Go. I am committed to continuous learning and am always looking to
  expand my skill set and knowledge.
</p>
<p class="text-lg md:text-xl">
  In this portfolio, you'll find some of the most notable projects I've worked
  on, examples of my code, as well as links to my GitHub and LinkedIn profiles.
  I'm always open to new opportunities and collaborations, so don't hesitate to
  contact me!
</p>
<p class="text-lg md:text-xl">
  I'm excited to share my passion for web development and my dedication to
  delivering quality solutions - thanks for visiting my portfolio!.
</p>
