<nav class="h-12 sm:h-auto">
  <div
    class="w-10 absolute top-2 right-6 invert cursor-pointer z-10 sm:hidden"
    (click)="openMenu()"
  >
    <img
      src="assets/icons/horizontal_split_black_24dp.svg"
      alt="barra lateral de menu"
      class="w-full"
    />
  </div>
  <ul
    #ulMenu
    class="flex flex-col items-center transition-transform -translate-y-full bg-slate-800 sm:flex-row sm:translate-y-0 sm:flex-wrap sm:bg-transparent"
  >
    <li class="p-2 sm:p-4" *ngFor="let menu of menuItemsList()">
      <a
        [routerLink]="[menu.routerLink]"
        routerLinkActive="rounded-lg outline outline-offset-8 outline-1"
        (click)="openMenu()"
        class="hover:text-blue-400 cursor-pointer"
      >
        {{ menu.label }}
      </a>
    </li>
  </ul>
</nav>
