<div class="text-2xl flex justify-center">Contáctame</div>
<div class="flex flex-wrap justify-center">
  <img
    src="assets\icons\linkedin_icon.svg"
    class="w-10 invert cursor-pointer hover:animate-bounce"
    alt="linkedin_icon"
  />
  <img
    src="assets\icons\github_icon.svg"
    class="w-10 invert cursor-pointer hover:animate-bounce"
    alt="github_icon"
  />
  <img
    src="assets\icons\whatsapp_icon.svg"
    class="w-10 invert cursor-pointer hover:animate-bounce"
    alt="whatsapp_icon"
  />
  <img
    src="assets\icons\mail_icon.svg"
    class="w-10 invert cursor-pointer hover:animate-bounce"
    alt="mail_icon"
  />
  <img
    src="assets\icons\telegram_icon.svg"
    class="w-10 invert cursor-pointer hover:animate-bounce"
    alt="telegram_icon"
  />
</div>
