/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  height: 100%;
  margin: 0;
  color: rgb(196, 205, 213);
}
/* Color Theme Swatches in RGBA
.bg-1 {
  background: rgba(60, 63, 114, 1);
}
.bg-2 {
  background: rgba(60, 78, 114, 1);
}
.bg-3 {
  background: rgba(25, 29, 38, 1);
}
.bg-4 {
  background: rgba(49, 66, 89, 1);
}
.bg-5 {
  background: rgba(89, 191, 162, 1);
} */
