/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  margin: 0;
  color: rgb(196, 205, 213);
}
/* Estilos para el loader principal */
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }

  /* Fin de los estilos del loader */
}

/* Color Theme Swatches in RGBA
.bg-1 {
  background: rgba(60, 63, 114, 1);
}
.bg-2 {
  background: rgba(60, 78, 114, 1);
}
.bg-3 {
  background: rgba(25, 29, 38, 1);
}
.bg-4 {
  background: rgba(49, 66, 89, 1);
}
.bg-5 {
  background: rgba(89, 191, 162, 1);
} */
